@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --main-color: #fff;
  --brand-color: #0e1c32;
}

body {
  font-family: var(--main-font);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 720px;
  height: 720px;
  background-image: url("../../img/bg/bigLogo_bg.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  z-index: 0;
}

.page-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 100%;
  width: 100%;
}

.page-row__left {
  min-width: 240px;
}

.page-row__right {
  min-width: 240px;
}

.page-row__center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: 100%;
}

.left__content,
.right__content {
  position: fixed;
  height: 100%;
  width: 240px;
  margin: 0, auto;
}

.left-row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0e1c32;
}

.item-header {
  margin: 0 auto;
  margin-top: 42px;
}

.search {
  width: 246px;
  height: 40px;
  margin-left: -22px;
  margin-top: 102px;
  margin-bottom: 32px;
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  /* identical to box height */
}

.search__text {
  padding-right: 50px;
  padding-left: 53px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 2.5;
  background-color: transparent;
}

.search__text::-webkit-input-placeholder {
  color: #0e1c32;
}

.search__button {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 11px;
  right: 18px;
  cursor: pointer;
  background-color: transparent;
}

.search__button::before {
  content: url("../img/leftside/lupa.svg");
}

.item-center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
  overflow-y: auto;
}

.item-center::-webkit-scrollbar {
  background-color: #0e1c32;
  width: 5px;
}

.item-center::-webkit-scrollbar-thumb {
  background-color: #e7f0ff;
  border-radius: 3px;
}

.menu {
  outline: burlywood 0px solid;
}

.menu > .conteiner {
  padding-left: 24px;
  padding-right: 24px;
  color: var(--main-color);
}

.accardeon__item {
  margin-bottom: 30px;
  position: relative;
}

.accardeon__item::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 191px;
  height: 1px;
  bottom: -15px;
  background: -webkit-gradient(linear, right top, left top, color-stop(-5.73%, rgba(255, 255, 255, 0.1)), color-stop(97.39%, rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.1) -5.73%, rgba(255, 255, 255, 0) 97.39%);
}

.accardeon__item--active {
  margin-bottom: 30px;
  position: relative;
}

.accardeon__item--active::after {
  content: none;
}

.accardeon__item--active .accardeon__triger {
  background-color: rgba(255, 255, 255, 0.2);
}

.accardeon__item--active .accardeon__triger::before {
  content: "";
  top: 50%;
  -webkit-transform: translate(-20px);
          transform: translate(-20px);
  -webkit-transform-origin: 50% 10%;
          transform-origin: 50% 10%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.accardeon__item--active .accardeon__content {
  display: block;
}

.accardeon__triger {
  cursor: pointer;
  display: block;
  padding: 0 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  position: relative;
}

.accardeon__triger::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 5px;
  background-image: url("../../img/leftside/arrow-down.svg");
  background-repeat: no-repeat;
  right: 8px;
  top: 50%;
  -webkit-transform-origin: 50% 10%;
          transform-origin: 50% 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.accardeon__triger--active {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
}

.accardeon__content {
  padding: 0 8px;
  display: none;
}

.accardeon-submenu {
  margin-top: 17px;
}

.accardeon-submenu__item:not(:last-cild) {
  margin-top: 8px;
}

.accardeon-submenu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-color);
}

.button {
  text-decoration: none;
  width: 192px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 40px;
  border-radius: 8px;
}

.item-footer {
  margin: 0 auto;
  padding-bottom: 31px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 96px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons__button--blue {
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #0e1c32;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.buttons__button--blue:hover {
  background-color: #293f63;
}

.buttons__button--white {
  color: #0e1c32;
  background-color: #ffffff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.buttons__button--white:hover {
  background-color: #c7cedb;
}

.center-content {
  width: 100%;
  padding: 0 30px;
}

.location {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.location__item {
  margin-top: 32px;
}

.title {
  font-size: 48px;
  line-height: 59px;
  color: #0e1c32;
  margin-bottom: 36px;
}

.grid {
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  grid-gap: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1760px) {
  .grid {
    width: 896px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1480px) {
  .grid {
    width: 592px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  width: 288px;
  height: 356px;
  -webkit-box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16);
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
  border-radius: 11px;
  overflow: hidden;
  background-color: white;
}

.card__container {
  padding: 12px;
  line-height: 20px;
}

.card__image {
  width: 265px;
  height: 265px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.card__checkbox-label {
  display: inline-block;
  padding-right: 12px;
  font-size: 14px;
  font-weight: 600;
}

.card__checkbox {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: #0e1c32;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card__checkbox-sublabel {
  font-size: 12px;
}

.card__download {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  position: relative;
  position: relative;
}

.card:hover {
  background-color: #e7f0ff;
}

.card:focus {
  background-color: #e7f0ff;
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.download-button {
  width: 64px;
  height: 36px;
  background: #0e1c32;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  -webkit-transform: translate(25px, 0px);
          transform: translate(25px, 0px);
}

.download-button__image {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(14px, -50%);
          transform: translate(14px, -50%);
}

.settings {
  position: relative;
}

.settings__link {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  left: 6px;
  bottom: 6px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings__img {
  width: 60%;
}
