@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

:root {
  --main-font: 'Montserrat', sans-serif;
  --primary-color: #000;
  --secondary-color: #a0a0a0;
  --main-color: #fff;
  --brand-color: #0e1c32;
  --active-color: #e7f0ff;
  --active-btn-color: rgba(14, 28, 50, 0.1);
  --active-btn-color2: rgba(14, 28, 50, 0.1);
  --current-color: currentColor;
}

body {
  font-family: var(--main-font);
  color: var(--brand-color);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.bg-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.bg {
  position: fixed;
  top: -147px;
  right: -59px;
  width: 865px;
  height: 853px;
  color: var(--active-btn-color);
}

.page-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
}

.page-row__left {
  min-width: 240px;
}

.page-row__right {
  min-width: 240px;
}

.page-row__center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: 100%;
}

.left__content,
.right__content {
  position: fixed;
  height: 100%;
  width: 240px;
  margin: 0, auto;
}

.left-row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0e1c32;
}

.item-header {
  margin: 0 auto;
  margin-top: 42px;
}

.logo {
  text-decoration: none;
  color: var(--main-color);
}

.search {
  width: 246px;
  height: 40px;
  margin-left: -22px;
  margin-top: 90px;
  margin-bottom: 32px;
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  /* identical to box height */
}

.search__text {
  padding-right: 50px;
  padding-left: 53px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 2.5;
  background-color: transparent;
  position: relative;
}

.search__text::-webkit-input-placeholder {
  color: #0e1c32;
}

.search__button {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 11px;
  right: 18px;
  cursor: pointer;
  background-color: transparent;
  color: var(--brand-color);
}

.item-center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
  overflow-y: auto;
}

.item-center::-webkit-scrollbar {
  background-color: #0e1c32;
  width: 5px;
}

.item-center::-webkit-scrollbar-thumb {
  background-color: #e7f0ff;
  border-radius: 3px;
}

.menu {
  outline: burlywood 0px solid;
  overflow: hidden;
}

.menu > .conteiner {
  padding-left: 24px;
  padding-right: 24px;
  color: var(--main-color);
}

.accordion__item {
  margin-bottom: 25px;
  position: relative;
}

.accordion__item::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 191px;
  height: 1px;
  bottom: -15px;
  background: -webkit-gradient(linear, right top, left top, color-stop(-5.73%, rgba(255, 255, 255, 0.1)), color-stop(97.39%, rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.1) -5.73%, rgba(255, 255, 255, 0) 97.39%);
}

.accordion__item:last-child::after {
  content: none;
}

.accordion__item--active {
  margin-bottom: 30px;
  position: relative;
}

.accordion__item--active .accordion__triger-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__item--active .accordion__content {
  display: block;
}

.accordion__triger {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  position: relative;
}

.accordion__triger--active {
  display: block;
}

.accordion__triger-icon {
  position: absolute;
  right: 8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.accordion__content {
  padding: 0 8px;
  display: none;
}

.accordion-submenu {
  margin-top: 15px;
  position: relative;
}

.accordion-submenu__item:not(:last-child) {
  margin-bottom: 7px;
}

.accordion-submenu__item {
  position: relative;
}

.accordion-submenu__item--active::after {
  content: '';
  position: absolute;
  width: 240px;
  height: 28px;
  top: -4px;
  left: 0;
  background: linear-gradient(90.02deg, rgba(196, 196, 196, 0) 27.56%, rgba(196, 196, 196, 0.2) 102.5%);
}

.accordion-submenu__item--active .accordion-submenu__rings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion-submenu__link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-color);
  position: relative;
}

.accordion-submenu__rings {
  position: absolute;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  right: -55px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordion-submenu__icon1 {
  position: absolute;
  left: -35px;
}

.accordion-submenu__icon2 {
  position: absolute;
  left: -48px;
}

.button {
  text-decoration: none;
  width: 192px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 40px;
  border-radius: 8px;
}

.item-footer {
  margin: 0 auto;
  padding-bottom: 31px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 96px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons__button--blue {
  border: solid 1px #ffffff;
  color: #ffffff;
  background-color: #0e1c32;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.buttons__button--blue:hover {
  background-color: #293f63;
}

.buttons__button--white {
  color: #0e1c32;
  background-color: #ffffff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.buttons__button--white:hover {
  background-color: #c7cedb;
}

.title {
  font-size: 36px;
  line-height: 40px;
  color: #0e1c32;
  margin-bottom: 36px;
}

.section-title {
  font-size: 48px;
  line-height: 59px;
  color: #0e1c32;
}

.page-row {
  height: 100%;
}

.page-row__center {
  padding-bottom: 30px;
}

.center-content {
  width: 100%;
  padding: 0 20px;
}

.location {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 32px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.location__title {
  font-size: 48px;
}

.location__item:not(:last-child) {
  margin-bottom: 62px;
}

.grid {
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  grid-gap: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1760px) {
  .grid {
    width: 896px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1480px) {
  .grid {
    width: 592px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.right__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rotated {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-menu__item {
  display: block;
}

.right-menu__item:not(:first-child) {
  margin-right: 30px;
}

.right-menu__link {
  color: var(--secondary-color);
}

.right-menu__link--active {
  display: block;
  padding: 11px 20px;
  color: var(--main-color);
  background-color: var(--brand-color);
  border-radius: 8px;
}

.card {
  width: 288px;
  height: 356px;
  -webkit-box-shadow: 0px 8px 15px -6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 8px 15px -6px rgba(0, 0, 0, 0.16);
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
  border-radius: 11px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.card__content {
  position: absolute;
}

.card__container {
  padding: 12px;
  line-height: 20px;
}

.card__image {
  width: 265px;
  height: 265px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
}

.card__title {
  display: inline-block;
  margin-right: 12px;
  font-size: 14px;
  line-height: calc(21 / 14);
  font-weight: 600;
}

.card__checkbox {
  cursor: pointer;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.card__custom-checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
}

.card__custom-checkbox > span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: solid 1px var(--brand-color);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% 75%;
}

.card__custom-checkbox > input:not(:disabled):not(:active) + span:active:before {
  display: inline-block;
  background-color: var(--main-color);
}

.card__custom-checkbox > input:checked + span:before {
  display: inline-block;
  background-image: url("./../img/cards/checked.svg");
  background-color: var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.card__custom-checkbox > span::after {
  content: "";
  position: absolute;
  display: none;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  left: calc((24px - 16px) / 2 * -1);
  top: calc((24px - 16px) / 2 * -1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: var(--active-btn-color);
  z-index: -1;
}

.card__custom-checkbox > input:not(:disabled):not(:checked) + span:hover::after {
  display: inline-block;
}

.card__custom-checkbox > input:not(:disabled):not(:active) + span:active:after {
  display: inline-block;
  opacity: 1;
}

.card__custom-checkbox > input:checked + span:after {
  display: inline-block;
  background-color: var(--active-btn-color2);
}

.card__subtitle {
  font-size: 12px;
  line-height: calc(18 / 12);
}

.card__download {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  position: relative;
}

.card:hover, .card:focus {
  -webkit-box-shadow: 0px 12px 12px -6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 12px 12px -6px rgba(0, 0, 0, 0.16);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.download-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 36px;
  background-color: var(--active-btn-color);
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  -webkit-transition: ease-out 0.1s;
  transition: ease-out 0.1s;
  -webkit-transform: translate(25px, 0px);
          transform: translate(25px, 0px);
  fill: var(--brand-color);
}

.download-button__icon {
  fill: inherit;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.download-button:hover {
  -webkit-transform: translate(15px, 0px);
          transform: translate(15px, 0px);
}

.download-button:active {
  background-color: var(--brand-color);
  fill: var(--main-color);
}

.card-selected {
  background-color: var(--active-color);
  position: relative;
}

.card-selected::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0;
  bottom: 0px;
  background-color: var(--brand-color);
  -webkit-transition: 1s;
  transition: 1s;
}

.settings {
  position: relative;
}

.settings__link {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  left: 6px;
  bottom: 6px;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--brand-color);
}

.settings__link:hover, .settings__link:focus {
  background-color: var(--brand-color);
  fill: var(--main-color);
}

.settings__link:active {
  background-color: var(--main-color);
  fill: var(--brand-color);
  border: solid 1px var(--brand-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.settings__img {
  fill: inherit;
  width: 12px;
  height: 12px;
}

.card-new {
  display: block;
  color: var(--brand-color);
}

.card-new__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 265px;
  height: 265px;
  margin-bottom: 16px;
  padding: 97px;
  border: solid 1px var(--active-btn-color);
  border-radius: 10px;
  overflow: hidden;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: #ffffff;
}

.box .cheshuja {
  width: 200px;
  height: 200px;
  background-color: #f1f1f1;
  border: 1px solid #afafaf;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.box .cheshuja:hover {
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transform: perspective(100px) rotateY(2deg) translateX(-3px);
          transform: perspective(100px) rotateY(2deg) translateX(-3px);
  background-color: var(--brand-color);
}
