.card {
	//border: solid #000;
	width: 288px;
	height: 356px;
	box-shadow: 0px 8px 15px -6px rgba(0, 0, 0, 0.16);
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
	border-radius: 11px;
	overflow: hidden;
	background-color: white;
	position: relative;

	&__content {
		position: absolute;
	}

	// Контейнер для всего контента карточки
	&__container {
		padding: 12px;
		line-height: 20px;
	}

	// .card__image
	&__image {
		width: 265px;
		height: 265px;
		border-radius: 10px;
		overflow: hidden;
		//border: hotpink solid;
		margin-bottom: 16px;
		position: relative;
	}

	// .card__bottom

	&__footer {
		display: flex;
		// border: hotpink solid;
	}

	// .card__info

	&__info {
		// outline: hotpink solid;
		flex: 0 0 80%;
	}

	// .card__checkbox-label

	&__title {
		// outline: hotpink solid;

		display: inline-block;
		margin-right: 12px;
		font-size: 14px;
		line-height: calc(21 / 14);
		font-weight: 600;
	}

	// .card__checkbox

	&__checkbox {
		cursor: pointer;
		position: absolute;
		z-index: -1;
		opacity: 0;
		// width: 16px;
		// height: 16px;
		// background: #0e1c32;
		// // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		// border-radius: 2px;
		// align-self: center;
	}

	&__custom-checkbox {
		display: inline-flex;
		align-items: center;
		user-select: none;
		cursor: pointer;
		position: relative;

		& span {
			// outline: yellowgreen 1px solid;
		}

		// border: hotpink solid;
		& > span::before {
			content: "";
			display: inline-block;
			width: 16px;
			height: 16px;
			flex-shrink: 0;
			flex-grow: 0;
			border: solid 1px var(--brand-color);
			border-radius: 2px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 75% 75%;
		}

		& > input:not(:disabled):not(:checked) + span:hover::before {
			// background-color: var(--main-color);
		}

		& > input:not(:disabled):not(:active) + span:active:before {
			display: inline-block;
			background-color: var(--main-color);
		}

		& > input:checked + span:before {
			display: inline-block;
			background-image: url("./../../img/cards/checked.svg");

			background-color: var(--brand-color);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 2px;
		}

		& > span::after {
			content: "";
			position: absolute;
			display: none;
			width: 24px;
			height: 24px;
			flex-shrink: 0;
			flex-grow: 0;
			left: calc((24px - 16px) / 2 * -1);
			top: calc((24px - 16px) / 2 * -1);
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50% 50%;
			background-color: var(--active-btn-color);
			// opacity: 0.1;
			z-index: -1;
		}
		& > input:not(:disabled):not(:checked) + span:hover::after {
			display: inline-block;
		}
		& > input:not(:disabled):not(:active) + span:active:after {
			display: inline-block;
			opacity: 1;
		}
		& > input:checked + span:after {
			display: inline-block;
			background-color: var(--active-btn-color2);
		}
	}

	// .card__checkbox-sublabel
	&__subtitle {
		font-size: 12px;
		line-height: calc(18 / 12);

		//border: hotpink solid;
	}

	// .card__download

	&__download {
		flex: 0 0 20%;
		position: relative;
		//border: hotpink solid;
	}

	&:hover,
	&:focus {
		// background-color: var(--active-color);
		//color: aqua;
		box-shadow: 0px 12px 12px -6px rgba(0, 0, 0, 0.16);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
	}
}

.info {
	// .info__checkbox

	&__wrapper {
		//border: hotpink solid;
		display: flex;
		justify-content: start;
		align-content: center;
	}
}

.download-button {
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 36px;
	background-color: var(--active-btn-color);
	// opacity: 0.1;
	// border: 1px solid #000000;
	border-radius: 10px 0px 0px 10px;
	position: absolute;
	transition: ease-out 0.1s;
	transform: translate(25px, 0px);
	fill: var(--brand-color);

	&__icon {
		fill: inherit;
		position: absolute;
		top: 50%;
		left: 12px;
		transform: translate(0, -50%);
	}

	&:hover {
		// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		transform: translate(15px, 0px);
	}

	&:active {
		// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		background-color: var(--brand-color);
		fill: var(--main-color);
	}
}

.card-selected {
	background-color: var(--active-color);
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 8px;
		left: 0;
		bottom: 0px;

		background-color: var(--brand-color);
		transition: 1s;
	}
}

.settings {
	position: relative;

	// .settings__link

	&__link {
		position: absolute;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background-color: rgb(255, 255, 255);
		left: 6px;
		bottom: 6px;
		z-index: 2;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		// fill: red;
		fill: var(--brand-color);
		&:hover,
		&:focus {
			background-color: var(--brand-color);
			fill: var(--main-color);
		}
		&:active {
			background-color: var(--main-color);
			fill: var(--brand-color);
			border: solid 1px var(--brand-color);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
		}
	}

	// .settings__img

	&__img {
		fill: inherit;
		width: 12px;
		height: 12px;
	}
}

.card-new {
	display: block;
	color: inherit;

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 265px;
		height: 265px;
		margin-bottom: 16px;
		padding: 97px;

		border: solid 1px var(--active-btn-color);

		border-radius: 10px;
		overflow: hidden;
	}

	&__footer {
	}

	&__info {
	}
}
