.left-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    //border: dashed 3px red;

    // .left-row__item

    &__item {


    }
}
.item-top {
    margin: 0 auto;
    padding: 42px 0 102px 0;

}
.logo {
    //border: solid 1px;

}
.item-center {
    flex: 1 1 100%;
    position: relative;
    overflow-y:auto;


}
.search {
width: 246px;
height: 40px;
margin-left: -22px;
margin-bottom: 32px;
position: relative;
    & input{
        width: 100%;
        padding-left: 53px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 40px;
        background-color: transparent;
        //border: solid 1px;
    }
    & input::-webkit-input-placeholder {
        color: #0E1C32;
    }
    & button {
        width: 19px;
        height: 19px;
        position: absolute;
        top: 11px;
        right: 18px;
        cursor: pointer;
        background-color: transparent;
        &::before{
            content: url('../img/leftside/lupa.svg');
        }
    }
background: #FFFFFF;
border-radius: 8px;
/* identical to box height */


}
.menu {
    color: white;

}
.menu-item {
    font-size: 16px;
    //border: yellowgreen solid;
    padding: 0px 0px 17px 32px;



    // .menu-item__title

    &__title {
        font-weight: 600;
    }

    // .menu-item__subtitle

    &__subtitle {
        padding-bottom: 8px;
        &:first-child{
            padding-top: 17px;
        }
        &:last-child{
            padding-bottom: 30px;
        }
    }

    // .menu-item__link

    &__link {
        text-decoration: none;
        color: white;
    }
}
.item-bottom {
}
.buttons {
    color: white;


    // .buttons__row

    &__row {
    }

    // .buttons__item

    &__item {
    }

    // .buttons__button

    &__button {
    }
}

