.left-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    //border: dashed 3px red;
        background-color: #0e1c32;

    // .left-row__item

    &__item {
    }
}
.item-top {
    margin: 0 auto;
    padding: 42px 0 102px 0;
}
.logo {
    //border: solid 1px;
}
.search {
    width: 246px;
    height: 40px;
    margin-left: -22px;
    margin-bottom: 32px;
    position: relative;
    & input {
        width: 100%;
        padding-right: 50px;
        padding-left: 53px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 40px;
        background-color: transparent;
        //border: solid 1px;
    }
    & input::-webkit-input-placeholder {
        color: #0e1c32;
    }
    & button {
        width: 19px;
        height: 19px;
        position: absolute;
        top: 11px;
        right: 18px;
        cursor: pointer;
        background-color: transparent;
        &::before {
            content: url("../img/leftside/lupa.svg");
        }
    }
    background: #ffffff;
    border-radius: 8px;
    /* identical to box height */
}
.item-center {
    flex: 1 1 100%;
    position: relative;
    overflow-y: auto;
    &::-webkit-scrollbar {
        //background-color: white;
        background-color: #0e1c32;
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        //background-color: white;
        background-color: #e7f0ff;
        border-radius: 3px;
    }
}

.menu {
    color: white;
    padding: 0 32px;
    transition: 0.3s;
}
.menu-item {
    font-size: 16px;
    //border: yellowgreen solid;
    padding: 0px 0px 17px 0px;

    // .menu-item__title

    &__title {
        cursor: pointer;
        list-style: none;
        font-weight: 600;
        position: relative;
        &::after {
            content: "";
            width: 20px;
            height: 20px;
            //border: rgb(52, 184, 0) solid;
            position: absolute;
            top: 0;
            right: 0;
            align-items: center;
            background-image: url("../img/leftside/arrow down.svg");
            background-repeat: no-repeat;
            //background-size: 100%;
            background-position: center;
            transition: 0.3s;

        }
    }

    // .menu-item__subtitle

    &__subtitle {
        transition: 0.3s;

        padding-bottom: 8px;
        &:first-child {
            padding-top: 17px;
        }
        &:last-child {
            padding-bottom: 30px;
        }
    }

    // .menu-item__link

    &__link {
        text-decoration: none;
        color: white;
    }
}

.menu-item[open] .menu-item {
    font-size: 16px;
    //border: yellowgreen solid;
    padding: 0px 0px 17px 0px;

    // .menu-item__title

    &__title {
        &::after {
            content: "";
            transform: rotate(180deg);
            transition: 0.3s;
        }
    }

    // .menu-item__subtitle

    &__subtitle {
        padding-bottom: 8px;
        &:first-child {
            padding-top: 17px;
        }
        &:last-child {
            padding-bottom: 30px;
        }
    }

    // .menu-item__link

    &__link {
        text-decoration: none;
        color: white;
    }
}

.item-bottom {
}
.buttons {
    color: white;

    // .buttons__row

    &__row {
    }

    // .buttons__item

    &__item {
    }

    // .buttons__button

    &__button {
    }
}
