@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import "_0style";

:root {
    --main-font: "Montserrat", sans-serif;
    --main-color: #fff;
    --brand-color: #0e1c32;
}

body {
    font-family: var(--main-font);
}
.wrapper {
    //border: black dashed 2px;
    width: 100%;
    //background-color: rgb(87, 13, 13);
    height: 100%;
}
.bg {
    position: absolute;
    top: 0px;
    right: 0px;
    //background-color: rgb(87, 13, 13);
    width: 720px;
    height: 720px;
    background-image: url("../../img/bg/bigLogo_bg.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: 0;
}

.page-row {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 100%;
    //border: black dashed 2px;

    &__left {
        min-width: 240px;
        //background-color: #55719e;
        //background-color: #0e1c32;
        //overflow: hidden;
    }
    &__right {
        min-width: 240px;
    }

    &__center {
        flex: 1 1 100%;
        height: 100%;

        //background-color: rgb(241, 241, 241);
    }
}
.left__content,
.right__content {
    position: fixed;
    height: 100%;
    width: 240px;

    margin: 0, auto;
    //border: 1px solid rgb(0, 0, 0);
}

@import "_section_left";
@import "_section_center";
@import "_card";
